* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas {
  display: block;
  position: absolute;
}

#clear{
  display: flex;
  position: relative;
  justify-content: flex-end;
  right: 8px;
  top: 8px;
}